
SERVER_PORT=3001

MB_DB_TYPE=postgres
MB_DB_HOST=host.docker.internal
MB_DB_PORT=5432
MB_DB_DBNAME=your_database_name
MB_DB_USER=your_db_user_name
MB_DB_PASS=your_db_password

JAVA_TIMEZONE=Asia/Jakarta
